@charset "utf-8";

/* -----------------------------------------
	Reset Item
----------------------------------------- */
@media print {
	body {
		width: 1200px;
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		transform-origin: 0 0;
	}
}
html {
	font-size: 16px;
	font-size: 62.5%;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1.5;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
	font-size: 1.4rem;
	color: #333333;
	font-family:"メイリオ",'Meiryo',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,main {display:block;}
ol, ul {list-style:none;}
img {
	vertical-align: middle;
	line-height: 0;
	border:0;
}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color: #0080bf;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {text-decoration: line-through;}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:100%;
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input[type="text"],
select, textarea, button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: border-box;
}

input[type="submit"],
input[type="button"]{-webkit-appearance: none;}

input::-ms-expand,
select::-ms-expand {display: none;}

input::-webkit-input-placeholder {
	color: #999;
	font-size: 13px;
}
input::-moz-placeholder {
	color: #999;
	font-size: 13px;
	
}
input:-ms-input-placeholder{
	color: #999;
	font-size: 13px;
}
/* -----------------------------------------
	Base Item
----------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/*	Link
------------------------------*/
a:link {color: #008803; text-decoration: none;}
a:visited {color: #008803; text-decoration: none;}
a:hover {color: #008803;text-decoration: underline}
a:active {color: #008803; text-decoration: none;}


/*	clearfix
------------------------------*/
.clearfix {
	min-height: 1px;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clear {clear: both;}

/* -----------------------------------------
	Component Style
----------------------------------------- */

.ta-l {text-align: left !important;}
.ta-c {text-align: center !important;}
.ta-r {text-align: right !important;}

.ve-t {vertical-align:top !important;}
.ve-m {vertical-align:middle !important;}
.ve-b {vertical-align:bottom !important;}

.dispFlex {display: flex;}
.dispIb {display: inline-block;}

@media screen and (min-width: 751px) , print{
.pc_dispFlex {display: flex;}
}

.aiS {align-items: flex-start;}
.aiC {align-items: center;}
.aiE {align-items: flex-end;}

.jcSb {justify-content: space-between;}
.jcC {justify-content: center;}
.jcSa {justify-content: space-around;}

.ListNumber {list-style: decimal !important; padding-left: 1.6em;!important;}


.indent00 {
	text-indent: 0em !important;
	padding-left: 0em !important;
}

.indent01 {
	text-indent: -1em !important;
	padding-left: 1em !important;
}

.indent02 {
	text-indent: -2em !important;
	padding-left: 2em !important;
}

.textIndent {
	text-indent: 1em !important;
}


.font11 {font-size:1.1em !important; font-size:1.1rem !important;}
.font12 {font-size:1.2em !important; font-size:1.2rem !important;}
.font13 {font-size:1.3em !important; font-size:1.3rem !important;}
.font14 {font-size:1.4em !important; font-size:1.4rem !important;}
.font15 {font-size:1.5em !important; font-size:1.5rem !important;}
.font16 {font-size:1.6em !important; font-size:1.6rem !important;}
.font17 {font-size:1.7em !important; font-size:1.7rem !important;}
.font18 {font-size:1.8em !important; font-size:1.8rem !important;}
.font19 {font-size:1.9em !important; font-size:1.9rem !important;}
.font20 {font-size:2.0em !important; font-size:2.0rem !important;}
.font21 {font-size:2.1em !important; font-size:2.1rem !important;}
.font22 {font-size:2.2em !important; font-size:2.2rem !important;}
.font23 {font-size:2.3em !important; font-size:2.3rem !important;}

.fontRed { color: #eb0000 !important;}
.fontGreen {color: #008803;}
.fontNormal { font-weight: normal !important; }
.fontBold { font-weight: bold !important; }


.bgGray {background: #f8f8f8;}


/*	margin
------------------------------*/
.mb0 {margin-bottom: 0 !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb12 {margin-bottom: 12px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb17 {margin-bottom: 17px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb100 {margin-bottom: 100px !important;}
.mb110 {margin-bottom: 110px !important;}
.mb120 {margin-bottom: 120px !important;}
.mb130 {margin-bottom: 130px !important;}
.mb140 {margin-bottom: 140px !important;}
.mb150 {margin-bottom: 150px !important;}

.mt0 {margin-top: 0 !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt32 {margin-top: 32px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}
.mt70 {margin-top: 70px !important;}
.mt80 {margin-top: 80px !important;}
.mt90 {margin-top: 90px !important;}
.mt100 {margin-top: 100px !important;}
.mt110 {margin-top: 110px !important;}
.mt120 {margin-top: 120px !important;}
.mt130 {margin-top: 130px !important;}
.mt140 {margin-top: 140px !important;}
.mt150 {margin-top: 150px !important;}

.mr0 {margin-right: 0 !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr32 {margin-right: 32px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
.mr60 {margin-right: 60px !important;}
.mr70 {margin-right: 70px !important;}
.mr80 {margin-right: 80px !important;}
.mr90 {margin-right: 90px !important;}
.mr100 {margin-right: 100px !important;}
.mr110 {margin-right: 110px !important;}
.mr120 {margin-right: 120px !important;}
.mr130 {margin-right: 130px !important;}
.mr140 {margin-right: 140px !important;}
.mr150 {margin-right: 150px !important;}

.ml0 {margin-left: 0 !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml32 {margin-left: 32px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}
.ml60 {margin-left: 60px !important;}
.ml70 {margin-left: 70px !important;}
.ml80 {margin-left: 80px !important;}
.ml90 {margin-left: 90px !important;}
.ml100 {margin-left: 100px !important;}
.ml110 {margin-left: 110px !important;}
.ml120 {margin-left: 120px !important;}
.ml130 {margin-left: 130px !important;}
.ml140 {margin-left: 140px !important;}
.ml150 {margin-left: 150px !important;}


/*	padding
------------------------------*/
.pb0 {padding-bottom: 0 !important;}
.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb12 {padding-bottom: 12px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb17 {padding-bottom: 17px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb70 {padding-bottom: 70px !important;}
.pb80 {padding-bottom: 80px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb100 {padding-bottom: 100px !important;}
.pb110 {padding-bottom: 110px !important;}
.pb120 {padding-bottom: 120px !important;}
.pb130 {padding-bottom: 130px !important;}
.pb140 {padding-bottom: 140px !important;}
.pb150 {padding-bottom: 150px !important;}

.pt0 {padding-top: 0 !important;}
.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt32 {padding-top: 32px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}
.pt60 {padding-top: 60px !important;}
.pt70 {padding-top: 70px !important;}
.pt80 {padding-top: 80px !important;}
.pt90 {padding-top: 90px !important;}
.pt100 {padding-top: 100px !important;}
.pt110 {padding-top: 110px !important;}
.pt120 {padding-top: 120px !important;}
.pt130 {padding-top: 130px !important;}
.pt140 {padding-top: 140px !important;}
.pt150 {padding-top: 150px !important;}


.pr0 {padding-right: 0 !important;}
.pr5 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr32 {padding-right: 32px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}
.pr60 {padding-right: 60px !important;}
.pr70 {padding-right: 70px !important;}
.pr80 {padding-right: 80px !important;}
.pr90 {padding-right: 90px !important;}
.pr100 {padding-right: 100px !important;}
.pr110 {padding-right: 110px !important;}
.pr120 {padding-right: 120px !important;}
.pr130 {padding-right: 130px !important;}
.pr140 {padding-right: 140px !important;}
.pr150 {padding-right: 150px !important;}

.pl0 {padding-left: 0 !important;}
.pl5 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl32 {padding-left: 32px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}
.pl60 {padding-left: 60px !important;}
.pl70 {padding-left: 70px !important;}
.pl80 {padding-left: 80px !important;}
.pl90 {padding-left: 90px !important;}
.pl100 {padding-left: 100px !important;}
.pl110 {padding-left: 110px !important;}
.pl120 {padding-left: 120px !important;}
.pl130 {padding-left: 130px !important;}
.pl140 {padding-left: 140px !important;}
.pl150 {padding-left: 150px !important;}



@media screen and (min-width: 751px) , print{
.w1p {width: 1% !important;} .w2p {width: 2% !important;} .w3p {width: 3% !important;} .w4p {width: 4% !important;} .w5p {width: 5% !important;}
.w6p {width: 6% !important;} .w7p {width: 7% !important;} .w8p {width: 8% !important;} .w9p {width: 9% !important;} .w10p {width: 10% !important;} 
.w11p {width: 11% !important;} .w12p {width: 12% !important;} .w13p {width: 13% !important;} .w14p {width: 14% !important;} .w15p {width: 15% !important;} 
.w16p {width: 16% !important;} .w17p {width: 17% !important;} .w18p {width: 18% !important;} .w19p {width: 19% !important;} .w20p {width: 20% !important;} 
.w21p {width: 21% !important;} .w22p {width: 22% !important;} .w23p {width: 23% !important;} .w24p {width: 24% !important;} .w25p {width: 25% !important;} 
.w26p {width: 26% !important;} .w27p {width: 27% !important;} .w28p {width: 28% !important;} .w29p {width: 29% !important;} .w30p {width: 30% !important;} 
.w31p {width: 31% !important;} .w32p {width: 32% !important;} .w33p {width: 33% !important;} .w34p {width: 34% !important;} .w35p {width: 35% !important;} 
.w36p {width: 36% !important;} .w37p {width: 37% !important;} .w38p {width: 38% !important;} .w39p {width: 39% !important;} .w40p {width: 40% !important;}
.w41p {width: 41% !important;} .w42p {width: 42% !important;} .w43p {width: 43% !important;} .w44p {width: 44% !important;} .w45p {width: 45% !important;}
.w46p {width: 46% !important;} .w47p {width: 47% !important;} .w48p {width: 48% !important;} .w49p {width: 49% !important;} .w50p {width: 50% !important;}
.w51p {width: 51% !important;} .w52p {width: 52% !important;} .w53p {width: 53% !important;} .w54p {width: 54% !important;} .w55p {width: 55% !important;}
.w56p {width: 56% !important;} .w57p {width: 57% !important;} .w58p {width: 58% !important;} .w59p {width: 59% !important;} .w60p {width: 60% !important;}
.w61p {width: 61% !important;} .w62p {width: 62% !important;} .w63p {width: 63% !important;} .w64p {width: 64% !important;} .w65p {width: 65% !important;}
.w66p {width: 66% !important;} .w67p {width: 67% !important;} .w68p {width: 68% !important;} .w69p {width: 69% !important;} .w70p {width: 70% !important;}
.w71p {width: 71% !important;} .w72p {width: 72% !important;} .w73p {width: 73% !important;} .w74p {width: 74% !important;} .w75p {width: 75% !important;}
.w76p {width: 76% !important;} .w77p {width: 77% !important;} .w78p {width: 78% !important;} .w79p {width: 79% !important;} .w80p {width: 80% !important;}
.w81p {width: 81% !important;} .w82p {width: 82% !important;} .w83p {width: 83% !important;} .w84p {width: 84% !important;} .w85p {width: 85% !important;}
.w86p {width: 86% !important;} .w87p {width: 87% !important;} .w88p {width: 88% !important;} .w89p {width: 89% !important;} .w90p {width: 90% !important;}
.w91p {width: 91% !important;} .w92p {width: 92% !important;} .w93p {width: 93% !important;} .w94p {width: 94% !important;} .w95p {width: 95% !important;}
.w96p {width: 96% !important;} .w97p {width: 97% !important;} .w98p {width: 98% !important;} .w99p {width: 99% !important;} .w100p {width: 100% !important;}
}

@media screen and (max-width: 750px){
	.sp_w1p {width: 1% !important;} .sp_w2p {width: 2% !important;} .sp_w3p {width: 3% !important;} .sp_w4p {width: 4% !important;} .sp_w5p {width: 5% !important;}
	.sp_w6p {width: 6% !important;} .sp_w7p {width: 7% !important;} .sp_w8p {width: 8% !important;} .sp_w9p {width: 9% !important;} .sp_w10p {width: 10% !important;} 
	.sp_w11p {width: 11% !important;} .sp_w12p {width: 12% !important;} .sp_w13p {width: 13% !important;} .sp_w14p {width: 14% !important;} .sp_w15p {width: 15% !important;} 
	.sp_w16p {width: 16% !important;} .sp_w17p {width: 17% !important;} .sp_w18p {width: 18% !important;} .sp_w19p {width: 19% !important;} .sp_w20p {width: 20% !important;} 
	.sp_w21p {width: 21% !important;} .sp_w22p {width: 22% !important;} .sp_w23p {width: 23% !important;} .sp_w24p {width: 24% !important;} .sp_w25p {width: 25% !important;} 
	.sp_w26p {width: 26% !important;} .sp_w27p {width: 27% !important;} .sp_w28p {width: 28% !important;} .sp_w29p {width: 29% !important;} .sp_w30p {width: 30% !important;} 
	.sp_w31p {width: 31% !important;} .sp_w32p {width: 32% !important;} .sp_w33p {width: 33% !important;} .sp_w34p {width: 34% !important;} .sp_w35p {width: 35% !important;} 
	.sp_w36p {width: 36% !important;} .sp_w37p {width: 37% !important;} .sp_w38p {width: 38% !important;} .sp_w39p {width: 39% !important;} .sp_w40p {width: 40% !important;}
	.sp_w41p {width: 41% !important;} .sp_w42p {width: 42% !important;} .sp_w43p {width: 43% !important;} .sp_w44p {width: 44% !important;} .sp_w45p {width: 45% !important;}
	.sp_w46p {width: 46% !important;} .sp_w47p {width: 47% !important;} .sp_w48p {width: 48% !important;} .sp_w49p {width: 49% !important;} .sp_w50p {width: 50% !important;}
	.sp_w51p {width: 51% !important;} .sp_w52p {width: 52% !important;} .sp_w53p {width: 53% !important;} .sp_w54p {width: 54% !important;} .sp_w55p {width: 55% !important;}
	.sp_w56p {width: 56% !important;} .sp_w57p {width: 57% !important;} .sp_w58p {width: 58% !important;} .sp_w59p {width: 59% !important;} .sp_w60p {width: 60% !important;}
	.sp_w61p {width: 61% !important;} .sp_w62p {width: 62% !important;} .sp_w63p {width: 63% !important;} .sp_w64p {width: 64% !important;} .sp_w65p {width: 65% !important;}
	.sp_w66p {width: 66% !important;} .sp_w67p {width: 67% !important;} .sp_w68p {width: 68% !important;} .sp_w69p {width: 69% !important;} .sp_w70p {width: 70% !important;}
	.sp_w71p {width: 71% !important;} .sp_w72p {width: 72% !important;} .sp_w73p {width: 73% !important;} .sp_w74p {width: 74% !important;} .sp_w75p {width: 75% !important;}
	.sp_w76p {width: 76% !important;} .sp_w77p {width: 77% !important;} .sp_w78p {width: 78% !important;} .sp_w79p {width: 79% !important;} .sp_w80p {width: 80% !important;}
	.sp_w81p {width: 81% !important;} .sp_w82p {width: 82% !important;} .sp_w83p {width: 83% !important;} .sp_w84p {width: 84% !important;} .sp_w85p {width: 85% !important;}
	.sp_w86p {width: 86% !important;} .sp_w87p {width: 87% !important;} .sp_w88p {width: 88% !important;} .sp_w89p {width: 89% !important;} .sp_w90p {width: 90% !important;}
	.sp_w91p {width: 91% !important;} .sp_w92p {width: 92% !important;} .sp_w93p {width: 93% !important;} .sp_w94p {width: 94% !important;} .sp_w95p {width: 95% !important;}
	.sp_w96p {width: 96% !important;} .sp_w97p {width: 97% !important;} .sp_w98p {width: 98% !important;} .sp_w99p {width: 99% !important;} .sp_w100p {width: 100% !important;}
}


img{max-width: 100%;}
img.w100p {width: 100%;}


/*表示/非表示切り替え*/
.sp,.spb{display: none;}

/*スマホ　縦*/
@media screen and (max-width: 750px){

	img{width: 100%;}
	img.auto{width: auto;}
	img.pcauto{max-width: 100%; width: 100%;}

	.pc{display: none;}
	.sp{display: inline;}
	.spb{display: block;}

	/*	margin
	------------------------------*/
	.sp_mb0 {margin-bottom: 0 !important;}
	.sp_mb5 {margin-bottom: 5px !important;}
	.sp_mb10 {margin-bottom: 10px !important;}
	.sp_mb12 {margin-bottom: 12px !important;}
	.sp_mb15 {margin-bottom: 15px !important;}
	.sp_mb17 {margin-bottom: 17px !important;}
	.sp_mb20 {margin-bottom: 20px !important;}
	.sp_mb25 {margin-bottom: 25px !important;}
	.sp_mb30 {margin-bottom: 30px !important;}
	.sp_mb35 {margin-bottom: 35px !important;}
	.sp_mb40 {margin-bottom: 40px !important;}
	.sp_mb45 {margin-bottom: 45px !important;}
	.sp_mb50 {margin-bottom: 50px !important;}
	.sp_mb60 {margin-bottom: 60px !important;}
	.sp_mb70 {margin-bottom: 70px !important;}
	.sp_mb80 {margin-bottom: 80px !important;}
	.sp_mb90 {margin-bottom: 90px !important;}
	.sp_mb100 {margin-bottom: 100px !important;}
	.sp_mb110 {margin-bottom: 110px !important;}
	.sp_mb120 {margin-bottom: 120px !important;}
	.sp_mb130 {margin-bottom: 130px !important;}
	.sp_mb140 {margin-bottom: 140px !important;}
	.sp_mb150 {margin-bottom: 150px !important;}

	.sp_mt0 {margin-top: 0 !important;}
	.sp_mt5 {margin-top: 5px !important;}
	.sp_mt10 {margin-top: 10px !important;}
	.sp_mt15 {margin-top: 15px !important;}
	.sp_mt20 {margin-top: 20px !important;}
	.sp_mt25 {margin-top: 25px !important;}
	.sp_mt30 {margin-top: 30px !important;}
	.sp_mt32 {margin-top: 32px !important;}
	.sp_mt35 {margin-top: 35px !important;}
	.sp_mt40 {margin-top: 40px !important;}
	.sp_mt45 {margin-top: 45px !important;}
	.sp_mt50 {margin-top: 50px !important;}
	.sp_mt60 {margin-top: 60px !important;}
	.sp_mt70 {margin-top: 70px !important;}
	.sp_mt80 {margin-top: 80px !important;}
	.sp_mt90 {margin-top: 90px !important;}
	.sp_mt100 {margin-top: 100px !important;}
	.sp_mt110 {margin-top: 110px !important;}
	.sp_mt120 {margin-top: 120px !important;}
	.sp_mt130 {margin-top: 130px !important;}
	.sp_mt140 {margin-top: 140px !important;}
	.sp_mt150 {margin-top: 150px !important;}

	.sp_mr0 {margin-right: 0 !important;}
	.sp_mr5 {margin-right: 5px !important;}
	.sp_mr10 {margin-right: 10px !important;}
	.sp_mr15 {margin-right: 15px !important;}
	.sp_mr20 {margin-right: 20px !important;}
	.sp_mr25 {margin-right: 25px !important;}
	.sp_mr30 {margin-right: 30px !important;}
	.sp_mr32 {margin-right: 32px !important;}
	.sp_mr35 {margin-right: 35px !important;}
	.sp_mr40 {margin-right: 40px !important;}
	.sp_mr45 {margin-right: 45px !important;}
	.sp_mr50 {margin-right: 50px !important;}
	.sp_mr60 {margin-right: 60px !important;}
	.sp_mr70 {margin-right: 70px !important;}
	.sp_mr80 {margin-right: 80px !important;}
	.sp_mr90 {margin-right: 90px !important;}
	.sp_mr100 {margin-right: 100px !important;}
	.sp_mr110 {margin-right: 110px !important;}
	.sp_mr120 {margin-right: 120px !important;}
	.sp_mr130 {margin-right: 130px !important;}
	.sp_mr140 {margin-right: 140px !important;}
	.sp_mr150 {margin-right: 150px !important;}

	.sp_ml0 {margin-left: 0 !important;}
	.sp_ml5 {margin-left: 5px !important;}
	.sp_ml10 {margin-left: 10px !important;}
	.sp_ml15 {margin-left: 15px !important;}
	.sp_ml20 {margin-left: 20px !important;}
	.sp_ml25 {margin-left: 25px !important;}
	.sp_ml30 {margin-left: 30px !important;}
	.sp_ml32 {margin-left: 32px !important;}
	.sp_ml35 {margin-left: 35px !important;}
	.sp_ml40 {margin-left: 40px !important;}
	.sp_ml45 {margin-left: 45px !important;}
	.sp_ml50 {margin-left: 50px !important;}
	.sp_ml60 {margin-left: 60px !important;}
	.sp_ml70 {margin-left: 70px !important;}
	.sp_ml80 {margin-left: 80px !important;}
	.sp_ml90 {margin-left: 90px !important;}
	.sp_ml100 {margin-left: 100px !important;}
	.sp_ml110 {margin-left: 110px !important;}
	.sp_ml120 {margin-left: 120px !important;}
	.sp_ml130 {margin-left: 130px !important;}
	.sp_ml140 {margin-left: 140px !important;}
	.sp_ml150 {margin-left: 150px !important;}


	/*	padding
	------------------------------*/
	.sp_pb0 {padding-bottom: 0 !important;}
	.sp_pb5 {padding-bottom: 5px !important;}
	.sp_pb10 {padding-bottom: 10px !important;}
	.sp_pb12 {padding-bottom: 12px !important;}
	.sp_pb15 {padding-bottom: 15px !important;}
	.sp_pb17 {padding-bottom: 17px !important;}
	.sp_pb20 {padding-bottom: 20px !important;}
	.sp_pb25 {padding-bottom: 25px !important;}
	.sp_pb30 {padding-bottom: 30px !important;}
	.sp_pb35 {padding-bottom: 35px !important;}
	.sp_pb40 {padding-bottom: 40px !important;}
	.sp_pb45 {padding-bottom: 45px !important;}
	.sp_pb50 {padding-bottom: 50px !important;}
	.sp_pb60 {padding-bottom: 60px !important;}
	.sp_pb70 {padding-bottom: 70px !important;}
	.sp_pb80 {padding-bottom: 80px !important;}
	.sp_pb90 {padding-bottom: 90px !important;}
	.sp_pb100 {padding-bottom: 100px !important;}
	.sp_pb110 {padding-bottom: 110px !important;}
	.sp_pb120 {padding-bottom: 120px !important;}
	.sp_pb130 {padding-bottom: 130px !important;}
	.sp_pb140 {padding-bottom: 140px !important;}
	.sp_pb150 {padding-bottom: 150px !important;}

	.sp_pt0 {padding-top: 0 !important;}
	.sp_pt5 {padding-top: 5px !important;}
	.sp_pt10 {padding-top: 10px !important;}
	.sp_pt15 {padding-top: 15px !important;}
	.sp_pt20 {padding-top: 20px !important;}
	.sp_pt25 {padding-top: 25px !important;}
	.sp_pt30 {padding-top: 30px !important;}
	.sp_pt32 {padding-top: 32px !important;}
	.sp_pt35 {padding-top: 35px !important;}
	.sp_pt40 {padding-top: 40px !important;}
	.sp_pt45 {padding-top: 45px !important;}
	.sp_pt50 {padding-top: 50px !important;}
	.sp_pt60 {padding-top: 60px !important;}
	.sp_pt70 {padding-top: 70px !important;}
	.sp_pt80 {padding-top: 80px !important;}
	.sp_pt90 {padding-top: 90px !important;}
	.sp_pt100 {padding-top: 100px !important;}
	.sp_pt110 {padding-top: 110px !important;}
	.sp_pt120 {padding-top: 120px !important;}
	.sp_pt130 {padding-top: 130px !important;}
	.sp_pt140 {padding-top: 140px !important;}
	.sp_pt150 {padding-top: 150px !important;}

	.sp_pr0 {padding-right: 0 !important;}
	.sp_pr5 {padding-right: 5px !important;}
	.sp_pr10 {padding-right: 10px !important;}
	.sp_pr15 {padding-right: 15px !important;}
	.sp_pr20 {padding-right: 20px !important;}
	.sp_pr25 {padding-right: 25px !important;}
	.sp_pr30 {padding-right: 30px !important;}
	.sp_pr32 {padding-right: 32px !important;}
	.sp_pr35 {padding-right: 35px !important;}
	.sp_pr40 {padding-right: 40px !important;}
	.sp_pr45 {padding-right: 45px !important;}
	.sp_pr50 {padding-right: 50px !important;}
	.sp_pr60 {padding-right: 60px !important;}
	.sp_pr70 {padding-right: 70px !important;}
	.sp_pr80 {padding-right: 80px !important;}
	.sp_pr90 {padding-right: 90px !important;}
	.sp_pr100 {padding-right: 100px !important;}
	.sp_pr110 {padding-right: 110px !important;}
	.sp_pr120 {padding-right: 120px !important;}
	.sp_pr130 {padding-right: 130px !important;}
	.sp_pr140 {padding-right: 140px !important;}
	.sp_pr150 {padding-right: 150px !important;}

	.sp_pl0 {padding-left: 0 !important;}
	.sp_pl5 {padding-left: 5px !important;}
	.sp_pl10 {padding-left: 10px !important;}
	.sp_pl15 {padding-left: 15px !important;}
	.sp_pl20 {padding-left: 20px !important;}
	.sp_pl25 {padding-left: 25px !important;}
	.sp_pl30 {padding-left: 30px !important;}
	.sp_pl32 {padding-left: 32px !important;}
	.sp_pl35 {padding-left: 35px !important;}
	.sp_pl40 {padding-left: 40px !important;}
	.sp_pl45 {padding-left: 45px !important;}
	.sp_pl50 {padding-left: 50px !important;}
	.sp_pl60 {padding-left: 60px !important;}
	.sp_pl70 {padding-left: 70px !important;}
	.sp_pl80 {padding-left: 80px !important;}
	.sp_pl90 {padding-left: 90px !important;}
	.sp_pl100 {padding-left: 100px !important;}
	.sp_pl110 {padding-left: 110px !important;}
	.sp_pl120 {padding-left: 120px !important;}
	.sp_pl130 {padding-left: 130px !important;}
	.sp_pl140 {padding-left: 140px !important;}
	.sp_pl150 {padding-left: 150px !important;}
}



.main_skipLink {
	width: 0;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.skipLink {
	display: none !important;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px,1px,1px,1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important;
}


/*IEハック*/
@media all and (-ms-high-contrast: none) {
	.screen-reader-text {
		display: none;
	}
}